<div class="orange lighten-5 center" style="padding:5rem 10rem">
    <h1>Download Your Theme Now</h1>
    <p>Use free bootstrap 100+ themes</p>
     
</div>


<div class="container">
    <div class="row">
        {{>themes}}
    </div>
</div>


        <footer class="page-footer orange waves-light ">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Bootstrap Magic 4.O</h5>
                <p class="grey-text text-lighten-4">At Bootstrap Magic 4.O, user can preview beautiful website themes and download them. Themes are created using Bootstrap,
                     the most popular front-end framework for developing responsive, mobile first websites
                    . You can use them in your personal or commercial projects. 

</p>
              </div>
              
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text"></h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="/contact">Contact</a></li>
                   <li><a class="grey-text text-lighten-3" href="/">Subscibe Now</a></li>
                  <li><a class="grey-text text-lighten-3" href="/">Terms and Conditions</a></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="footer-copyright">
            <div class="container center">
            © 2020  Bootstrap Magic 4.0
            
            </div>
          </div>
        </footer>
        