<div class="container">
<br>
<br>
<br>
<br>
    
   <p> Welcome to Bootstrap Magic 4.O. We are creators of super awesome free Bootstrap themes . We are specialized in designing and creating elegant, clean and beautiful
free website themes using Bootstrap, the most popular HTML, CSS & JS framework. </p>
<br>
All of our bootstrap themes are created with care, fully responsive and cross-browser compatible. You can use our 
themes in your personal or commercial projects. Right now we have 81 free bootstrap themes and they were downloaded by users on daily basis. We regularly release new bootstrap themes. 
Users can check the preview of themes and download their favourite themes.



</div>
<footer class="footers orange z-depth-2">
    
          <div class="footer-copyright">
            <div class="container center">
            © 2020  Bootstrap Magic 4.0
            
            </div>
          </div>
        
</footer>


