
    <br>
    <br>
    <div class="container">
    
    <div class="row">
        <div class="input-field col s6">
            <input placeholder="Enter Your First Name" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
            <input placeholder="Enter Your Last Name" id="last_name" type="text" class="validate">
            <label for="first_name">First Name</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <input placeholder="Enter Your E-mail" id="email" type="text" class="validate">
            <label for="first_name">E-mail Address</label>
        </div>
    </div>

    <div class="row">
        <div class="col s12 input-field">
            <textarea id="textarea1" class="materialize-textarea" placeholder="Enter Your Message"></textarea>
            <label for="textarea1">Your Message</label>
        </div>
        <a href="/" class="orange waves-light btn" type="submit">Send Message</a>
    </div>
</div>
</div>
<footer class="footers orange z-depth-2">
    
          <div class="footer-copyright">
            <div class="container center">
            © 2020  Bootstrap Magic 4.0
            
            </div>
          </div>
        
</footer>
</div>